body {
    background-image: url('../img/fondo4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
.background-image{
=======
.background-image {
>>>>>>> main
    background-image: url('../img/curved-images/curved6.jpg');
}